{% extends 'core/home.html' %}
{% load static %}
{% load user_tags %}
{% block title %}
    Перевод китайских даньмэй-новелл Privereda1 | Пополнение баланса
{% endblock title %}

{% block content %}
    <div class="container-xxl">
        <div class="row d-flex justify-content-center mt-2">
            <div class="col-8">
                <form method="post" action="{% url 'core:donate_money' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="suminput" class="form-label">Сумма</label>
                        <input type="text" class="form-control" id="suminput" name="sum">
                    </div>
                    <button type="submit" class="btn btn-primary">Перейти к пополнению баланса</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}